In [127]:
import pandas as pd
from kmodes.kmodes import KModes
from kmodes.kprototypes import KPrototypes
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

df_profile = pd.read_excel("A2 - Profile.xlsx")

In [128]:
#preprocessing
df_profile = df_profile[["Age", "Job", "Marital_status", "Education", "Credict_Payment"]]
df_profile = df_profile.dropna(subset=["Age", "Job", "Marital_status", "Education", "Credict_Payment"])
df_profile = df_profile.drop(df_profile[(df_profile["Job"] == "unknown")|(df_profile["Marital_status"] == "unknown")|(df_profile["Education"] == "unknown")|(df_profile["Credict_Payment"] == "unknown")].index)

In [129]:
to_encode = ["Job", "Marital_status", "Education", "Credict_Payment"]
d={}
for col in to_encode:
    d[col]= LabelEncoder().fit(df_profile[col])
    df_profile[col] = d[col].transform(df_profile[col])

df_profile

      Age  Job  Marital_status  Education  Credict_Payment
0      30    1               1          2                0
1      39    7               2          3                0
2      25    7               1          3                0
4      47    0               1          5                0
5      32    7               2          5                0
...   ...  ...             ...        ...              ...
1808   34    7               1          3                0
1809   49    4               1          5                0
1810   50    1               0          0                0
1811   51    2               1          5                0
1812   57    5               1          5                0

[1686 rows x 5 columns]

In [130]:
scaler = StandardScaler()
df_profile["Age"] = scaler.fit_transform(df_profile[["Age"]])
df_profile

           Age  Job  Marital_status  Education  Credict_Payment
0    -0.941670    1               1          2                0
1    -0.065910    7               2          3                0
2    -1.428203    7               1          3                0
4     0.712543    0               1          5                0
5    -0.747057    7               2          5                0
...        ...  ...             ...        ...              ...
1808 -0.552443    7               1          3                0
1809  0.907157    4               1          5                0
1810  1.004463    1               0          0                0
1811  1.101770    2               1          5                0
1812  1.685610    5               1          5                0

[1686 rows x 5 columns]

In [131]:
# fit
km = KPrototypes(n_clusters=5, init='Cao', verbose=1)
clusters = km.fit_predict(df_profile, categorical= [1,2,3,4])

Initialization method and algorithm are deterministic. Setting n_init to 1.
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/100, moves: 292, ncost: 1820.2148172851166
Run: 1, iteration: 2/100, moves: 104, ncost: 1809.991196740859
Run: 1, iteration: 3/100, moves: 202, ncost: 1740.154322589214
Run: 1, iteration: 4/100, moves: 256, ncost: 1647.9239922274537
Run: 1, iteration: 5/100, moves: 269, ncost: 1626.992356199789
Run: 1, iteration: 6/100, moves: 76, ncost: 1623.6338474083434
Run: 1, iteration: 7/100, moves: 39, ncost: 1622.1112086340386
Run: 1, iteration: 8/100, moves: 6, ncost: 1622.056518199609
Run: 1, iteration: 9/100, moves: 0, ncost: 1622.056518199609
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/100, moves: 347, ncost: 1719.2624227821857
Run: 2, iteration: 2/100, moves: 143, ncost: 1678.5194361988522
Run: 2, iteration: 3/100, moves: 163, ncost: 1657.1180870379494
Run: 2, iteration: 4/100, moves: 79, ncost: 1650.4730266211482
Run: 2, iteration: 5/100, moves: 34, ncost: 1648.813327139784
Run: 2, iteration: 6/100, moves: 25, ncost: 1647.938066498714
Run: 2, iteration: 7/100, moves: 1, ncost: 1647.9355071003492
Run: 2, iteration: 8/100, moves: 0, ncost: 1647.9355071003492
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/100, moves: 288, ncost: 1674.874403742956
Run: 3, iteration: 2/100, moves: 69, ncost: 1672.0287079505792
Run: 3, iteration: 3/100, moves: 40, ncost: 1670.9240797431903
Run: 3, iteration: 4/100, moves: 13, ncost: 1670.5045560693466
Run: 3, iteration: 5/100, moves: 3, ncost: 1670.4598661196765
Run: 3, iteration: 6/100, moves: 0, ncost: 1670.4598661196765
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/100, moves: 320, ncost: 1709.6924457776001
Run: 4, iteration: 2/100, moves: 203, ncost: 1675.8921665112216
Run: 4, iteration: 3/100, moves: 187, ncost: 1637.2485740788513
Run: 4, iteration: 4/100, moves: 93, ncost: 1633.7786205997888
Run: 4, iteration: 5/100, moves: 10, ncost: 1633.7638348334556
Run: 4, iteration: 6/100, moves: 0, ncost: 1633.7638348334556
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/100, moves: 483, ncost: 1659.1392426477757
Run: 5, iteration: 2/100, moves: 122, ncost: 1652.4027401364067
Run: 5, iteration: 3/100, moves: 38, ncost: 1651.1277970104657
Run: 5, iteration: 4/100, moves: 33, ncost: 1650.023138158161
Run: 5, iteration: 5/100, moves: 18, ncost: 1649.6943672305447
Run: 5, iteration: 6/100, moves: 3, ncost: 1649.6668218330924
Run: 5, iteration: 7/100, moves: 1, ncost: 1649.6653250119246
Run: 5, iteration: 8/100, moves: 0, ncost: 1649.6653250119246
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/100, moves: 375, ncost: 1657.7269177930393
Run: 6, iteration: 2/100, moves: 61, ncost: 1656.0089286379
Run: 6, iteration: 3/100, moves: 24, ncost: 1655.705351781869
Run: 6, iteration: 4/100, moves: 2, ncost: 1655.6932179663052
Run: 6, iteration: 5/100, moves: 0, ncost: 1655.6932179663052
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/100, moves: 391, ncost: 1703.2976027931418
Run: 7, iteration: 2/100, moves: 136, ncost: 1673.1667991385443
Run: 7, iteration: 3/100, moves: 79, ncost: 1671.9172151527127
Run: 7, iteration: 4/100, moves: 48, ncost: 1669.6430459011106
Run: 7, iteration: 5/100, moves: 17, ncost: 1669.2354131022491
Run: 7, iteration: 6/100, moves: 3, ncost: 1669.2036334438208
Run: 7, iteration: 7/100, moves: 1, ncost: 1669.2006304603003
Run: 7, iteration: 8/100, moves: 0, ncost: 1669.2006304603003
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/100, moves: 417, ncost: 1686.471164464725
Run: 8, iteration: 2/100, moves: 74, ncost: 1684.105678895752
Run: 8, iteration: 3/100, moves: 27, ncost: 1682.2795894387364
Run: 8, iteration: 4/100, moves: 37, ncost: 1679.298714698011
Run: 8, iteration: 5/100, moves: 18, ncost: 1679.2185942347373
Run: 8, iteration: 6/100, moves: 0, ncost: 1679.2185942347373
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/100, moves: 339, ncost: 1618.3442058361468
Run: 9, iteration: 2/100, moves: 189, ncost: 1609.6436578167538
Run: 9, iteration: 3/100, moves: 32, ncost: 1608.9244033306716
Run: 9, iteration: 4/100, moves: 18, ncost: 1608.693612863926
Run: 9, iteration: 5/100, moves: 0, ncost: 1608.693612863926
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/100, moves: 337, ncost: 1659.5581082896222
Run: 10, iteration: 2/100, moves: 50, ncost: 1658.7395828807723
Run: 10, iteration: 3/100, moves: 14, ncost: 1658.385720548566
Run: 10, iteration: 4/100, moves: 8, ncost: 1658.2802796108829
Run: 10, iteration: 5/100, moves: 0, ncost: 1658.2802796108829
Best run was number 9

In [132]:
#inverse numerical scaling and encoding
for col in to_encode:
    df_profile[col] = d[col].inverse_transform(df_profile[col])

age_inverse = pd.DataFrame(df_profile, columns=["Age"])
age_inverse[["Age"]] = scaler.inverse_transform(age_inverse[["Age"]])

In [133]:
# Add the cluster labels to the original DataFrame
df_profile['cluster'] = clusters
df_profile["Age"] = age_inverse["Age"]
print(df_profile.head())

    Age          Job Marital_status          Education Credict_Payment  \
0  30.0  blue-collar        married           basic.9y              no
1  39.0     services         single        high.school              no
2  25.0     services        married        high.school              no
4  47.0       admin.        married  university.degree              no
5  32.0     services         single  university.degree              no

   cluster
0        4
1        3
2        4
4        0
5        2

In [134]:
df_profile.to_csv("KP_clusters.csv")