In [86]:
import pandas as pd
from kmodes.kmodes import KModes
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

df_profile = pd.read_excel("A2 - Profile.xlsx")

In [87]:
#preprocessing
df_profile = df_profile[["Job", "Marital_status", "Education", "Credict_Payment"]]
df_profile = df_profile.drop(df_profile[(df_profile["Job"] == "unknown")|(df_profile["Marital_status"] == "unknown")|(df_profile["Education"] == "unknown")|(df_profile["Credict_Payment"] == "unknown")].index)
'''
label_encoder = LabelEncoder()
df_encoded = df_profile.apply(label_encoder.fit_transform)'''

'\nlabel_encoder = LabelEncoder()\ndf_encoded = df_profile.apply(label_encoder.fit_transform)'

In [88]:
to_encode = ["Job", "Marital_status", "Education", "Credict_Payment"]
d={}
for col in to_encode:
    d[col]= LabelEncoder().fit(df_profile[col])

In [89]:
for col in to_encode:
    df_profile[col] = d[col].transform(df_profile[col])
df_profile

      Job  Marital_status  Education  Credict_Payment
0       1               1          2                0
1       7               2          3                0
2       7               1          3                0
4       0               1          5                0
5       7               2          5                0
...   ...             ...        ...              ...
1808    7               1          3                0
1809    4               1          5                0
1810    1               0          0                0
1811    2               1          5                0
1812    5               1          5                0

[1694 rows x 4 columns]

               Job Marital_status          Education Credict_Payment
0      blue-collar        married           basic.9y              no
1         services         single        high.school              no
2         services        married        high.school              no
4           admin.        married  university.degree              no
5         services         single  university.degree              no
...            ...            ...                ...             ...
1808      services        married        high.school              no
1809    management        married  university.degree              no
1810   blue-collar       divorced           basic.4y              no
1811  entrepreneur        married  university.degree              no
1812       retired        married  university.degree              no

[1694 rows x 4 columns]

In [90]:

# fit
km = KModes(n_clusters=5, init='Cao', verbose=1)
clusters = km.fit_predict(df_profile)

# Add the cluster labels to the original DataFrame
df_profile['cluster'] = clusters
print(df_profile.head())

Initialization method and algorithm are deterministic. Setting n_init to 1.
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 110, cost: 2112.0
   Job  Marital_status  Education  Credict_Payment  cluster
0    1               1          2                0        4
1    7               2          3                0        1
2    7               1          3                0        3
4    0               1          5                0        0
5    7               2          5                0        0

In [91]:
km.cluster_centroids_

array([[0, 1, 5, 0],
       [1, 2, 3, 0],
       [9, 0, 2, 0],
       [7, 1, 3, 0],
       [1, 1, 2, 0]])

In [66]:
for col in to_encode:
    df_profile[col] = d[col].inverse_transform(df_profile[col])
df_profile

ValueError: y contains previously unseen labels: [2 3 4]

In [ ]:
from sklearn.metrics import pairwise_distances_argmin_min

cluster_labels = []
for i in range(5):
    cluster_mask = clusters == i
    true_labels_in_cluster = df['true_label'][cluster_mask]  # Replace 'true_label' with your actual labels
    most_frequent_label = true_labels_in_cluster.value_counts().idxmax()
    cluster_labels.append(most_frequent_label)

purity = sum(pairwise_distances_argmin_min(df_profile['true_label'].values.reshape(-1, 1), cluster_labels)[1]) / len(df)
print(f"Cluster Purity: {purity}")