In [11]:
from kmodes.kmodes import KModes
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import OrdinalEncoder
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np
from numpy import asarray

In [ ]:
import numpy as np
from kmodes.kmodes import KModes

# random categorical data
data = np.random.choice(20, (100, 10))

km = KModes(n_clusters=4, init='Huang', n_init=5, verbose=1)

clusters = km.fit_predict(data)

# Print the cluster centroids
print(km.cluster_centroids_)

In [5]:
df_profile = pd.read_excel("A2 - Profile.xlsx")
df_survey = pd.read_excel("A2 - Survey.xlsx")

In [6]:
df_merged = df_profile.merge(df_survey, left_on="CustomerID", right_on="customerID", how="inner")
df_merged

,CustomerID,Age,Job,Marital_status,Education,Credict_Payment,customerID,Shopping type,Product-quality,Deli-quality,Service-quality,Shopping_comfort,LoyaltyCard_of_Others?
0,1,30,blue-collar,married,basic.9y,no,1.0,In-store,6.0,4.0,10.0,8,Yes
1,1,30,blue-collar,married,basic.9y,no,1.0,In-store,2.0,2.0,6.0,4,Yes
2,2,39,services,single,high.school,no,2.0,In-store,8.0,0.0,0.0,6,No
3,2,39,services,single,high.school,no,2.0,In-store,6.0,2.0,2.0,2,Yes
4,3,25,services,married,high.school,no,3.0,In-store,10.0,6.0,0.0,8,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2245,1825,34,services,married,high.school,no,1825.0,In-store,6.0,6.0,8.0,6,Yes
2246,1826,49,management,married,university.degree,no,1826.0,Delivery,8.0,4.0,6.0,8,Yes
2247,1827,50,blue-collar,divorced,basic.4y,no,1827.0,In-store,2.0,2.0,8.0,6,Yes
2248,1828,51,entrepreneur,married,university.degree,no,1828.0,In-store,2.0,4.0,10.0,4,Yes
2249,1829,57,retired,married,university.degree,no,1829.0,In-store,6.0,6.0,6.0,6,Yes

In [ ]:
df_survey = df_survey.dropna()

In [7]:
## preprocessing
enc = OrdinalEncoder()

#hot encoding cetegorical features
df_merged[["Job", "Marital_status", "Education", "Credict_Payment", "Shopping type"]] = enc.fit_transform(df_merged[["Job", "Marital_status", "Education", "Credict_Payment", "Shopping type"]])

#drop blank rows
df_merged = df_merged.dropna(subset=["Marital_status", "Credict_Payment"])
df_merged = df_merged.drop(columns=["CustomerID","Product-quality", "Deli-quality", "customerID", "Service-quality", "Shopping_comfort", "LoyaltyCard_of_Others?"])

In [17]:
df_test = df_merged[["Age", "Job", "Marital_status", "Education"]]
df_test

      Age  Job  Marital_status  Education
0      30  1.0             1.0        2.0
1      30  1.0             1.0        2.0
2      39  7.0             2.0        3.0
3      39  7.0             2.0        3.0
4      25  7.0             1.0        3.0
...   ...  ...             ...        ...
2245   34  7.0             1.0        3.0
2246   49  4.0             1.0        5.0
2247   50  1.0             0.0        0.0
2248   51  2.0             1.0        5.0
2249   57  5.0             1.0        5.0

[2238 rows x 4 columns]

In [12]:
km = KModes(n_clusters=5)

In [16]:
km.cluster_centroids_

array([[32.,  0.,  1.,  5.],
       [33.,  1.,  1.,  3.],
       [31.,  9.,  1.,  2.],
       [35.,  7.,  1.,  4.],
       [35.,  1.,  2.,  5.]])

In [15]:
clusters = km.fit_predict(df_test)